@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&display=swap");

//primary
$primary: hsl(223, 87%, 63%);
//secondary
$secondaryBlue: hsl(223, 100%, 88%);
$secondaryRed: hsl(354, 100%, 66%);
//Neutral
$neutralGrey: hsl(0, 0%, 59%);
$neutralDarkBlue: hsl(209, 33%, 12%);
